/* Loader
*--------------------------------*/

.select{
	margin-bottom: 15px;
}
	
.btn-tambah{
	/*position: absolute;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 15px;
    left: 115px;*/
}

.content-header>h1{
	float: left;
	margin-right: 15px;
}

.content{
	clear: left;
}

.antrian .number{
	font-weight: bolder;
	margin-right: 15px;
	margin-left: 15px;
}

.antrian img{
	width: 100%;
    max-width: 55px;
    height: auto;
}

.antrian > li .tools {
    line-height: 55px;
}

.searchTable {
	margin-bottom: 10px;
}

.modal-title{
	font-weight: bold;
}

.control-label{
	font-weight: 600;
}

#modalObat input{
	background: #F5F5F5;
}

.modal-title {
    font-weight: bold;
    color: #5D5D5D;
}

.modal-header {
	background: whitesmoke;
    border-bottom-color: #E4E4E4;
}

.modal-footer {
	background: whitesmoke;
    border-top-color: #E4E4E4;
}

/*
*------------ MODAL TRANSITION -------------------*/
.vue-modal-mask {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  transition: opacity .3s ease;
  overflow-y: auto;
}

.vue-modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.vue-modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.vue-modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.vue-modal-body {
  margin: 20px 0;
}

.vue-modal-default-button {
  float: right;
}
.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#antri2 td{
	vertical-align: middle;
}

#antri2 img{
	float: left;
	margin-right: 15px;
}

#antri2 .status-antrian{
	font-weight: bold;
	text-transform: uppercase;
}

.formkaryawan select{
	margin-bottom: 10px;
}

.action{
	margin-top: 50px;
    text-align: right;
}

#filterLaporanObat{
  background: #0073B7;
  color: #FFFFFF;
}
