/* Loader
*--------------------------------*/

.select {
  margin-bottom: 15px;
}

.control-box {
  margin-bottom: 15px;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.content-header > h1 {
  float: left;
  margin-right: 15px;
}

.content {
  clear: left;
}

.antrian .number {
  font-weight: bolder;
  margin-right: 15px;
  margin-left: 15px;
}

.antrian img {
  width: 100%;
  max-width: 55px;
  height: auto;
}

.antrian > li .tools {
  line-height: 55px;
}

.searchTable {
  margin-bottom: 10px;
}

.modal-title {
  font-weight: bold;
}

.control-label {
  font-weight: 600;
}

#modalObat input {
  background: #f5f5f5;
}

.modal-title {
  font-weight: bold;
  color: #5d5d5d;
}

.modal-header {
  background: whitesmoke;
  border-bottom-color: #e4e4e4;
}

.modal-footer {
  background: whitesmoke;
  border-top-color: #e4e4e4;
}

/*
*------------ MODAL TRANSITION -------------------*/
.vue-modal-mask {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}

.vue-modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.vue-modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.vue-modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.vue-modal-body {
  margin: 20px 0;
}

.vue-modal-default-button {
  float: right;
}
.modal-enter,
.modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#antri2 td {
  vertical-align: middle;
}

#antri2 img {
  float: left;
  margin-right: 15px;
}

#antri2 .status-antrian {
  font-weight: bold;
  text-transform: uppercase;
}

.formkaryawan select {
  margin-bottom: 10px;
}

.action {
  margin-top: 50px;
  text-align: right;
}

#filterLaporanObat {
  background: #0073b7;
  color: #ffffff;
}
